DATABASE_NAME=your_database_name
DATABASE_USER=your_database_username
DATABASE_PASSWORD=your_database_password
DATABASE_HOST=your_database_host
DATABASE_PORT=your_database_port

PORT=your_server_port

TOKEN_SECRET_KEY=your_sercret_api_token
TOKEN_EXPIRATION_TIME=token_lifetime

AUTH_SECRET_KEY=your_sercret_api_auth_token
CONFIRMATION_TOKEN_EXPIRATION_TIME=token_lifetime

SMTP_HOST=your_email_smtp_host
SMTP_PORT=your_email_smtp_port
SMTP_SERVICE=your_email_smtp_service_name
SMTP_MAIL=your_email_address
SMTP_APP_PASS=your_email_password

API_HOST=your_api_host
CONFIRM_SENDER_EMAIL=your_email_sender_address

CLOUDIANRY_NAME=your_cloudinary_account_name
CLOUDINARY_KEY=your_cloudinary_account_key
CLOUDINARY_SECRET=your_cloudinary_account_secret
